.even {
    background-color: var(--ifm-color-emphasis-100);
}

.container {
    border-top: 0.1px solid var(--ifm-color-emphasis-200);
    padding: 4rem 7%;
}


.evenRow {
    display: flex;
    gap: 7%;
    flex-direction: row;
}

.odd {
    display: flex;
    gap: 7%;
    flex-direction: row-reverse;
}

@media (max-width: 1500px) {
    .evenRow {
        flex-direction: column;
        align-items: center;
    }
    .odd {
        flex-direction: column;
        align-items: center;
    }
}

.title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.description {
    flex: 1;
    font-size: 1.3rem;
    margin-top: 2rem;
    white-space: pre-line;
}

.snippet {
    width: 650px;
    height: 100%;
}

@media screen and (max-width: 996px) {
    .title {
        font-size: 1.7rem;
    }
    .description {
        font-size: 1rem;
    }
    .snippet {
        width: 500px;
    }
}
